<head>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1 class="background">This is our <%=title%>
    </h1>
    <h3>City - <%=output.name%>
    </h3>
    <h3>Temp - <%=output.main.temp%> °C
    </h3>
    <h3>Country - <%=output.sys.country%>
    </h3>
</body>